<div>
  <h2>
    <span id="metrics-page-heading" mscheTranslate="metrics.title" data-cy="metricsPageHeading">Métriques de l'application</span>

    <button class="btn btn-primary float-end" (click)="refresh()">
      <fa-icon icon="sync"></fa-icon> <span mscheTranslate="metrics.refresh.button">Rafraîchir</span>
    </button>
  </h2>

  <h3 mscheTranslate="metrics.jvm.title">Métriques de la JVM</h3>

  <div class="row" *ngIf="metrics && !updatingMetrics">
    <msche-jvm-memory class="col-md-4" [updating]="updatingMetrics" [jvmMemoryMetrics]="metrics.jvm"></msche-jvm-memory>

    <msche-jvm-threads class="col-md-4" [threads]="threads"></msche-jvm-threads>

    <msche-metrics-system class="col-md-4" [updating]="updatingMetrics" [systemMetrics]="metrics.processMetrics"></msche-metrics-system>
  </div>

  <msche-metrics-garbagecollector
    *ngIf="metrics && metricsKeyExists('garbageCollector')"
    [updating]="updatingMetrics"
    [garbageCollectorMetrics]="metrics.garbageCollector"
  ></msche-metrics-garbagecollector>

  <div class="well well-lg" *ngIf="updatingMetrics" mscheTranslate="metrics.updating">Mise à jour...</div>

  <msche-metrics-request
    *ngIf="metrics && metricsKeyExists('http.server.requests')"
    [updating]="updatingMetrics"
    [requestMetrics]="metrics['http.server.requests']"
  ></msche-metrics-request>

  <msche-metrics-endpoints-requests
    *ngIf="metrics && metricsKeyExists('services')"
    [updating]="updatingMetrics"
    [endpointsRequestsMetrics]="metrics.services"
  ></msche-metrics-endpoints-requests>

  <msche-metrics-cache
    *ngIf="metrics && metricsKeyExists('cache')"
    [updating]="updatingMetrics"
    [cacheMetrics]="metrics.cache"
  ></msche-metrics-cache>

  <msche-metrics-datasource
    *ngIf="metrics && metricsKeyExistsAndObjectNotEmpty('databases')"
    [updating]="updatingMetrics"
    [datasourceMetrics]="metrics.databases"
  ></msche-metrics-datasource>
</div>
