<div>
  <h2 id="page-heading" data-cy="RecipeIngredientHeading">
    <span mscheTranslate="mealScheduelerApp.recipeIngredient.home.title">RecipeIngredients</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span mscheTranslate="mealScheduelerApp.recipeIngredient.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-recipe-ingredient"
        [routerLink]="['/recipe-ingredient/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span mscheTranslate="mealScheduelerApp.recipeIngredient.home.createLabel"> Créer un nouveau Recipe Ingredient </span>
      </button>
    </div>
  </h2>

  <msche-alert-error></msche-alert-error>

  <msche-alert></msche-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="recipeIngredients?.length === 0">
    <span mscheTranslate="mealScheduelerApp.recipeIngredient.home.notFound">Aucun Recipe Ingredient trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="recipeIngredients && recipeIngredients.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr mscheSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" mscheSortBy="id">
            <div class="d-flex">
              <span mscheTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" mscheSortBy="quantity">
            <div class="d-flex">
              <span mscheTranslate="mealScheduelerApp.recipeIngredient.quantity">Quantity</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" mscheSortBy="recipe.id">
            <div class="d-flex">
              <span mscheTranslate="mealScheduelerApp.recipeIngredient.recipe">Recipe</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" mscheSortBy="unit.id">
            <div class="d-flex">
              <span mscheTranslate="mealScheduelerApp.recipeIngredient.unit">Unit</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" mscheSortBy="ingredient.id">
            <div class="d-flex">
              <span mscheTranslate="mealScheduelerApp.recipeIngredient.ingredient">Ingredient</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let recipeIngredient of recipeIngredients; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/recipe-ingredient', recipeIngredient.id, 'view']">{{ recipeIngredient.id }}</a>
          </td>
          <td>{{ recipeIngredient.quantity }}</td>
          <td>
            <div *ngIf="recipeIngredient.recipe">
              <a [routerLink]="['/recipe', recipeIngredient.recipe.id, 'view']">{{ recipeIngredient.recipe.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="recipeIngredient.unit">
              <a [routerLink]="['/mesure', recipeIngredient.unit.id, 'view']">{{ recipeIngredient.unit.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="recipeIngredient.ingredient">
              <a [routerLink]="['/ingredient', recipeIngredient.ingredient.id, 'view']">{{ recipeIngredient.ingredient.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/recipe-ingredient', recipeIngredient.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" mscheTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/recipe-ingredient', recipeIngredient.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" mscheTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(recipeIngredient)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" mscheTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
