<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="user">
      <h2>
        <span mscheTranslate="userManagement.detail.title">Utilisateur</span> [<strong>{{ user.login }}</strong
        >]
      </h2>

      <dl class="row-md jh-entity-details">
        <dt><span mscheTranslate="userManagement.login">Login</span></dt>
        <dd>
          <span>{{ user.login }}</span>
          <span *ngIf="user.activated" class="badge bg-success" mscheTranslate="userManagement.activated">Activé</span>
          <span *ngIf="!user.activated" class="badge bg-danger" mscheTranslate="userManagement.deactivated">Désactivé</span>
        </dd>

        <dt><span mscheTranslate="userManagement.firstName">Prénom</span></dt>
        <dd>{{ user.firstName }}</dd>

        <dt><span mscheTranslate="userManagement.lastName">Nom</span></dt>
        <dd>{{ user.lastName }}</dd>

        <dt><span mscheTranslate="userManagement.email">Email</span></dt>
        <dd>{{ user.email }}</dd>

        <dt><span mscheTranslate="userManagement.langKey">Langue</span></dt>
        <dd>{{ user.langKey }}</dd>

        <dt><span mscheTranslate="userManagement.createdBy">Créé par</span></dt>
        <dd>{{ user.createdBy }}</dd>

        <dt><span mscheTranslate="userManagement.createdDate">Créé le</span></dt>
        <dd>{{ user.createdDate | date: 'dd/MM/yy HH:mm' }}</dd>

        <dt><span mscheTranslate="userManagement.lastModifiedBy">Modifié par</span></dt>
        <dd>{{ user.lastModifiedBy }}</dd>

        <dt><span mscheTranslate="userManagement.lastModifiedDate">Modifié le</span></dt>
        <dd>{{ user.lastModifiedDate | date: 'dd/MM/yy HH:mm' }}</dd>

        <dt><span mscheTranslate="userManagement.profiles">Droits</span></dt>
        <dd>
          <ul class="list-unstyled">
            <li *ngFor="let authority of user.authorities">
              <span class="badge bg-info">{{ authority }}</span>
            </li>
          </ul>
        </dd>
      </dl>

      <button type="submit" routerLink="../../" class="btn btn-info">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span mscheTranslate="entity.action.back">Retour</span>
      </button>
    </div>
  </div>
</div>
