<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-8">
      <h1 mscheTranslate="reset.request.title">Réinitialiser son mot de passe</h1>

      <msche-alert-error></msche-alert-error>

      <div class="alert alert-warning" *ngIf="!success">
        <span mscheTranslate="reset.request.messages.info">Veuillez renseigner l'adresse email utilisée pour vous enregistrer</span>
      </div>

      <div class="alert alert-success" *ngIf="success">
        <span mscheTranslate="reset.request.messages.success"
          >Veuillez vérifier vos nouveaux emails et suivre les instructions pour réinitialiser votre mot de passe.</span
        >
      </div>

      <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm">
        <div class="mb-3">
          <label class="form-label" for="email" mscheTranslate="global.form.email.label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="{{ 'global.form.email.placeholder' | translate }}"
            formControlName="email"
            data-cy="emailResetPassword"
            #email
          />

          <div
            *ngIf="
              resetRequestForm.get('email')!.invalid && (resetRequestForm.get('email')!.dirty || resetRequestForm.get('email')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="resetRequestForm.get('email')?.errors?.required"
              mscheTranslate="global.messages.validate.email.required"
            >
              Votre email est requis.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="resetRequestForm.get('email')?.errors?.email"
              mscheTranslate="global.messages.validate.email.invalid"
            >
              Votre email n'est pas valide.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="resetRequestForm.get('email')?.errors?.minlength"
              mscheTranslate="global.messages.validate.email.minlength"
            >
              Votre email doit comporter au moins 5 caractères.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="resetRequestForm.get('email')?.errors?.maxlength"
              mscheTranslate="global.messages.validate.email.maxlength"
            >
              Votre email ne doit pas comporter plus de 50 caractères.
            </small>
          </div>
        </div>

        <button
          type="submit"
          [disabled]="resetRequestForm.invalid"
          class="btn btn-primary"
          mscheTranslate="reset.request.form.button"
          data-cy="submit"
        >
          Réinitialiser le mot de passe
        </button>
      </form>
    </div>
  </div>
</div>
